body {
    background-color: pink;
    font-family: sans-serif;
}

p {
    font-size: 150%;
    
}

h1 {
    font-size: 300%;
    text-transform: capitalize;
}

p.cursiva {
    color: white;
    font-family: serif;
    font-style: oblique;
}

p.color {
    color: rgb(41, 88, 45);
    font-family: sans-serif;
}

p.separado {
    color: hsl(35, 100%, 55%);
    font-family: monospace;
    font-size: 200%;
}

p.sans {
    color: rgb(217, 119, 255);
    font-family: cursive;
}

